
.section-global-wrapper {
    position: relative;
  }
  .section-global-wrapper:before,
.section-global-wrapper:after {
  content: " ";
  display: table;
}
.section-global-wrapper:after {
  clear: both;
}

  .container-fluid-kamn {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-kamn {
    margin-right: auto;
    margin-left: auto;
  }


  /* Asegúrate de que los controles estén centrados verticalmente */
  .carousel-control {
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
  }

  .carousel-control .fa {
    font-size: 2rem;
  }


.navbar {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}
/*
* ==========================================================================
* Navbar Nav Links
* ==========================================================================
*/
.navbar-nav > li > a {
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 4px;
}
/*
* ==========================================================================
* Brand / Project Name
* ==========================================================================
*/
.navbar-brand {  
  z-index: 9999px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 5px 15px; 
}
 .office-logo {
  height: 100px;
  width: 100px;
}