---
layout: page
title: Logias
description: Logias simbolicas regulares del oriente de San Luis Potosí.
permalink: /logias/
related: services resources events
---
<section id="services-container">
  <ul class="grid-container">
  {% for logia in site.logias %}
    {% unless logia.title == page.title %}
    <a href="{{ logia.url | prepend: site.baseurl }}">
      {% if forloop.length == 2 %}
      <li class="one-third col">
      {% elsif forloop.length == 3 %}
      <li class="one-third col">
      {% else %}
      <li class="one-third col">
        {% endif %}
        <div class="tn-container">
          <img src="{{ logia.image | downcase | append: '.jpeg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{  }}" />
          <div class="mask"></div>
          <div class="text-box">
            <h1>{{ logia.title }}</h1>
            {% if logia.description %}<p>{{ logia.description }}</p>{% endif %}
        </div>
      </div>
    </li>
    </a>
    {% endunless %}
  {% endfor %}
  </ul>
</section>
