---
layout: default
---
<article class="page">
  <header class="page-header">
    <div class="mask"></div>
    <img src="{{ 'logias.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="page-hero" />
    <img src="{{ 'logias-tn.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ page.title | append: ' featured image' }}" class="mobile-hero" />

    <div class="text-box">
      <h1 class="page-title">{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
  </header>

  {% include social-shares.html %}

  <div class="post-content collection-content">
    <a href="{{ page.image | downcase | append: '.jpeg' | prepend: '/images/featured/' | prepend: site.baseurl }}" class="lightbox">
        <img src="{{ page.image | downcase | append: '.jpeg' | prepend: '/images/featured/' | prepend: site.baseurl }}" alt="{{ }}" style="width: 480px; height: 480px;" />
    </a>
    {{ content }}
</div>
  
</article>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var lightboxLinks = document.querySelectorAll('.lightbox');
  
      lightboxLinks.forEach(function(link) {
          link.addEventListener('click', function(event) {
              event.preventDefault();
              var href = this.getAttribute('href');
  
              var overlay = document.createElement('div');
              overlay.classList.add('lightbox-overlay');
  
              var image = document.createElement('img');
              image.src = href;
  
              overlay.appendChild(image);
              document.body.appendChild(overlay);
  
              overlay.addEventListener('click', function() {
                  document.body.removeChild(overlay);
              });
          });
      });
  });
  </script>
  